<div class="card" style="width: 18rem;">
  <img src="jihed.jpg" class="card-img-top" alt="...">
  <h3> it's a me ! </h3>
  <div class="card-body">
    <p class="card-text">not sure what the problem is there should have been a picture of jihed up there, oh wait there it is </p>
  </div>
</div>